[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
colorama = "*"

[scripts]
start = "python src/main.py"
build = "pyinstaller src/main.py --onefile -F -n rpg"

[requires]
python_version = "3.8"
